Slack
Kvantum
alacritty
autostart
autostart-scripts
gtk-4.0
qt5ct
micro
user-dirs.dirs
user-dirs.locale
ibus
dconf
pulse
gtk-3.0
.gsd-keyboard.settings-ported
pop-shell
nautilus
cachyos-hello.json
GNOME-xdg-terminals.list
xdg-terminals.list
BraveSoftware
gnome-session
Electron
fish
menus
Code
lvim.old
CachyOS
config
lvimbck
nextjs-nodejs
cef_user_data
Postman
filezilla
eog
totem
DisplayCAL
starship.tomlbck
vlc
MongoDB Compass
zoom.conf
zoomus.conf
octopi
spotify
bluejeans-v2
mimeapps.list
flutter
Google
configstore
WebTorrent
kdeconnect
qrcp
monitors.xml~
monitors.xml
